
        .top-color, .widget_tag_cloud .tagcloud a:hover, .top-line, .nav-line {
            background-color: #45b0ee;
        }

        #side-bar .widget_recent_entries li:hover, #side-bar .widget_nav_menu div > ul > li:hover, #side-bar .widget_categories li:hover, #side-bar .widget_recent_comments li:hover, #side-bar .widget_meta li:hover, #side-bar .widget_pages li:hover, #side-bar .widget_archive li:hover, #bl_side_posts > ul li:hover, #bl_side_comments > ul li:hover {
            border-left: 3px solid #45b0ee;
        }

        .site-footer #footer-body .widget_nav_menu a:hover, .site-footer #footer-body .widget_archive a:hover, .site-footer #footer-body .widget_tag_cloud a:hover, .site-footer #footer-body .widget_recent_entries a:hover, .site-footer #footer-body .widget_meta a:hover, .site-footer #footer-body .widget_categories a:hover, .site-footer #footer-body .widget_pages a:hover, #bl_side_tags .bl_tab_tag:hover {
            background-color: #45b0ee;
        }

        .dropdown-menu {
            border-top: 2px solid #45b0ee;
        }

        .bl_tabs ul li .tab_text a span, a {
            color: #45b0ee;
        }

        body {
            background: #EDEDED;
        }

        .entry-title a {
            color: #333333;
        }

        #masthead .top-banner {
            background: #444444;
        }

        #masthead .top-banner, #masthead .brand h1 {
            color: #45b0ee;
        }

            #masthead .top-banner .top-banner-social a {
                color: #FFFFFF;
            }

        header#masthead, .navbar-inverse .navbar-inner, .dropdown-menu, .widget-head, #masthead .searchform input {
            background: #FFFFFF;
        }

            .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle, div.navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a, #masthead .bluth-navigation.shrunk .mini-logo h1, #masthead .bluth-navigation.shrunk .mini-logo img, #masthead .searchform input, .widget-head, .widget-head a, .navbar .brand, #masthead .searchform a {
                color: #777777;
            }

        .widget-head {
            background: #FFFFFF;
        }

        .widget-head {
            color: #333333;
        }

        footer.site-footer {
            background: #333333;
        }

            footer.site-footer h3 {
                color: #FFFFFF;
            }

            #footer-body > div ul li a, footer.site-footer > * {
                color: #FFFFFF;
            }

        .post-format-standard {
            color: #556270;
        }

        .tab_standard, .format-standard a.more-link, .format-standard a.more-link:hover {
            background-color: #556270;
        }

        .format-standard .post-meta ~ * a, .format-standard .post-meta a:hover, .format-standard .entry-title a:hover {
            color: #556270;
        }

        .format-standard p a, .format-standard p a:hover span:before, .format-standard p a:focus span:before {
            background-color: #556270;
        }

        .post-format-gallery {
            color: #4ECDC4;
        }

        .tab_gallery, .format-gallery a.more-link, .format-gallery a.more-link:hover {
            background-color: #4ECDC4;
        }

        .format-gallery .post-meta ~ * a, .format-gallery .post-meta a:hover, .format-gallery .entry-title a:hover {
            color: #4ECDC4;
        }

        .format-gallery p a, .format-gallery p a:hover span:before, .format-gallery p a:focus span:before {
            background-color: #4ECDC4;
        }

        .post-format-image {
            color: #C7F464;
        }

        .tab_image, .format-image a.more-link, .format-image a.more-link:hover {
            background-color: #C7F464;
        }

        .format-image .post-meta ~ * a, .format-image .post-meta a:hover, .format-image .entry-title a:hover {
            color: #C7F464;
        }

        .format-image p a, .format-image p a:hover span:before, .format-image p a:focus span:before {
            background-color: #C7F464;
        }

        .post-format-link, .post-format-link a {
            color: #FF6B6B;
        }

        .tab_link, .format-link a.more-link, .format-link a.more-link:hover {
            background-color: #FF6B6B;
        }

        .format-link .post-meta ~ * a, .format-link .post-meta a:hover, .format-link .entry-title a:hover {
            color: #FF6B6B;
        }

        .format-link p a, .format-link p a:hover span:before, .format-link p a:focus span:before {
            background-color: #FF6B6B;
        }

        .post-format-quote {
            color: #C44D58;
        }

        .tab_quote, .format-quote a.more-link, .format-quote a.more-link:hover {
            background-color: #C44D58;
        }

        .format-quote .post-meta ~ * a, .format-quote .post-meta a:hover, .format-quote .entry-title a:hover {
            color: #C44D58;
        }

        .format-quote p a, .format-quote p a:hover span:before, .format-quote p a:focus span:before {
            background-color: #C44D58;
        }

        .post-format-audio {
            color: #5EBCF2;
        }

        .tab_audio, .format-audio a.more-link, .format-audio a.more-link:hover {
            background-color: #5EBCF2;
        }

        .format-audio .post-meta ~ * a, .format-audio .post-meta a:hover, .format-audio .entry-title a:hover {
            color: #5EBCF2;
        }

        .format-audio p a, .format-audio p a:hover span:before, .format-audio p a:focus span:before {
            background-color: #5EBCF2;
        }

        .post-format-video {
            color: #A576F7;
        }

        .tab_video, .format-video a.more-link, .format-video a.more-link:hover {
            background-color: #A576F7;
        }

        .format-video .post-meta ~ * a, .format-video .post-meta a:hover, .format-video .entry-title a:hover {
            color: #A576F7;
        }

        .format-video p a, .format-video p a:hover span:before, .format-video p a:focus span:before {
            background-color: #A576F7;
        }

        .post-format-status {
            color: #A576F7;
        }

        .tab_status, .format-status a.more-link, .format-status a.more-link:hover {
            background-color: #556270;
        }

        .format-status .post-meta ~ * a, .format-status .post-meta a:hover, .format-status .entry-title a:hover {
            color: #556270;
        }

        .format-status p a, .format-status p a:hover span:before, .format-status p a:focus span:before {
            background-color: #A576F7;
        }
        /*没有*/
        .sticky .post-format-badge {
            color: #A576F7;
        }

        .sticky .post-meta ~ * a, .sticky .post-meta a:hover, .sticky .entry-title a:hover {
            color: #90DB91;
        }

        a:hover {
            color: #F38630;
        }

        .tab_standard, .format-standard a.more-link, .format-standard a.more-link:hover, .format-standard p a {
            background-color: rgba(255, 255, 255, 0);
        }

        #content .entry-content a.more-link:hover, .entry-content p a:hover {
            color: #F38630;
        }

        article.type-post p a:hover {
            transform: none;
        }

        .widget_tag_cloud .tagcloud a:hover {
            color: #FFFFFF;
            transform: none;
            transition: none;
        }