<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{{$config:=.SiteConfig}}
	<meta charset="utf-8">
	<title>后台管理</title>

	<!-- The styles -->
	<link id="bs-css" href="" rel="stylesheet">
	<style type="text/css">
	  body {
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	</style>
	<link href="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/charisma-app.css" rel="stylesheet">
	<link href="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<!--<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/fullcalendar.css' rel='stylesheet'>-->
	<!--<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/fullcalendar.print.css' rel='stylesheet'  media='print'>-->
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/chosen.css' rel='stylesheet'>
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/uniform.default.css' rel='stylesheet'>
	<!--<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/colorbox.css' rel='stylesheet'>-->
	<!--<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/jquery.cleditor.css' rel='stylesheet'>-->
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/jquery.noty.css' rel='stylesheet'>
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/noty_theme_default.css' rel='stylesheet'>
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/elfinder.min.css' rel='stylesheet'>
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/elfinder.theme.css' rel='stylesheet'>
	<!--<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/jquery.iphone.toggle.css' rel='stylesheet'>-->
	<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/opa-icons.css' rel='stylesheet'>
	<!--<link href='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/uploadify.css' rel='stylesheet'>-->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- The fav icon -->
	<link rel="shortcut icon" href="{{$config.StaticURL}}/static/{{$config.ThemeName}}/img/favicon.ico">
	<!-- jQuery -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript">
 	var notify={{.notify}}
 		function showmsg(){
 			if(notify!=""){
             $("#notification").click()
			}
 		};
       function switch_theme(theme_name){
		 $('#bs-css').attr('href','{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/css/bootstrap-'+theme_name+'.css');
		}
    </script>
    	<!-- jQuery UI -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery-ui-1.8.21.custom.min.js"></script>
	<!-- transition / effect library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-transition.js"></script>
	<!-- alert enhancer library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-alert.js"></script>
	<!-- modal / dialog library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-modal.js"></script>
	<!-- custom dropdown library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-dropdown.js"></script>
	<!-- scrolspy library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-scrollspy.js"></script>
	<!-- library for creating tabs -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-tab.js"></script>
	<!-- library for advanced tooltip -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-tooltip.js"></script>
	<!-- popover effect library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-popover.js"></script>
	<!-- button enhancer library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-button.js"></script>
	<!-- accordion library (optional, not used in demo) -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-collapse.js"></script>
	<!-- carousel slideshow library (optional, not used in demo) -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-carousel.js"></script>
	<!-- autocomplete library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-typeahead.js"></script>
	<!-- tour library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/bootstrap-tour.js"></script>
	<!-- library for cookie management -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.cookie.js"></script>
	<!-- calander plugin -->
	<!--<script src='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/fullcalendar.min.js'></script>-->
	<!-- data table plugin -->
	<script src='{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.dataTables.min.js'></script>

	<!-- chart libraries start -->
	<!--<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/excanvas.js"></script>
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.flot.min.js"></script>
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.flot.pie.min.js"></script>
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.flot.stack.js"></script>
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.flot.resize.min.js"></script>-->
	<!-- chart libraries end -->

	<!-- select or dropdown enhancer -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.chosen.min.js"></script>
	<!-- checkbox, radio, and file input styler -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.uniform.min.js"></script>
	<!-- plugin for gallery image view -->
	<!--<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.colorbox.min.js"></script>-->
	<!-- rich text editor library -->
	<!--<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.cleditor.min.js"></script>-->
	<!-- notification plugin -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.noty.js"></script>
	<!-- file manager library -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.elfinder.min.js"></script>
	<!-- star rating plugin -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.raty.min.js"></script>
	<!-- for iOS style toggle switch -->
	<!--<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.iphone.toggle.js"></script>-->
	<!-- autogrowing textarea plugin -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.autogrow-textarea.js"></script>
	<!-- multiple file upload plugin -->
	<!--<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.uploadify-3.1.min.js"></script>-->
	<!-- history.js for cross-browser state change on ajax -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/jquery.history.js"></script>
	<!-- application script for Charisma demo -->
	<script src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/js/charisma.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#{{.currentitem}}').addClass('active');
			$('#currenttitle').text($('#{{.currentitem}} span').text());
		})
	</script>
</head>

<body>
<button class="btn btn-primary noty" id="notification" data-noty-options='{"text":"{{.msg}}","layout":"top","type":"information"}' style="display:none"></button>
		<!-- topbar starts -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{$config.SiteURL}}"> <img alt="{{$config.SiteTitle}} Logo" src="{{$config.StaticURL}}/static/{{$config.ThemeName}}/root/img/logo20.png" /> <span>{{$config.SiteTitle}}</span></a>
				
				<!-- theme selector starts -->
				<div class="btn-group pull-right theme-container" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-tint"></i><span class="hidden-phone">  更换主题/ 皮肤</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" id="themes">
						<li><a data-value="classic" href="#"><i class="icon-blank"></i> Classic</a></li>
						<li><a data-value="cerulean" href="#"><i class="icon-blank"></i> Cerulean</a></li>
						<li><a data-value="cyborg" href="#"><i class="icon-blank"></i> Cyborg</a></li>
						<li><a data-value="redy" href="#"><i class="icon-blank"></i> Redy</a></li>
						<li><a data-value="journal" href="#"><i class="icon-blank"></i> Journal</a></li>
						<li><a data-value="simplex" href="#"><i class="icon-blank"></i> Simplex</a></li>
						<li><a data-value="slate" href="#"><i class="icon-blank"></i> Slate</a></li>
						<li><a data-value="spacelab" href="#"><i class="icon-blank"></i> Spacelab</a></li>
						<li><a data-value="united" href="#"><i class="icon-blank"></i> United</a></li>
					</ul>
				</div>
				<!-- theme selector ends -->
				
				<!-- user dropdown starts -->
				<div class="btn-group pull-right" >
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i><span class="hidden-phone"> {{.UserName}}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Profile</a></li>
						<li class="divider"></li>
						<li><a href="/root/loginout">注销登陆</a></li>
					</ul>
				</div>
				<!-- user dropdown ends -->
			</div>
		</div>
	</div>
	<!-- topbar ends -->
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- left menu starts -->
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">主菜单</li>
						<li id="index"><a class="ajax-link" href="/root"><i class="icon-home"></i><span class="hidden-tablet"> 博客概况</span></a></li>
						<li id="category"><a class="ajax-link" href="/root/category"><i class="icon-eye-open"></i><span class="hidden-tablet"> 分类管理</span></a></li>
						<li id="node"><a class="ajax-link" href="/root/node"><i class="icon-edit"></i><span class="hidden-tablet"> 节点管理</span></a></li>
						<li id="article"><a class="ajax-link" href="/root/article"><i class="icon-list-alt"></i><span class="hidden-tablet"> 文章管理</span></a></li>
						<li id="subscibe"><a class="ajax-link" href="#"><i class="icon-font"></i><span class="hidden-tablet"> 订阅管理</span></a></li>
						<li id="link"><a class="ajax-link" href="#"><i class="icon-bookmark"></i><span class="hidden-tablet"> 链接管理</span></a></li>
						<li class="nav-header hidden-tablet">设置</li>
						<li id="account"><a class="ajax-link" href="#"><i class="icon-user"></i><span class="hidden-tablet"> 账户管理</span></a></li>
						<li id="config"><a class="ajax-link" href="#"><i class="icon-cog"></i><span class="hidden-tablet"> 配置管理</span></a></li>		
						<li id="data"><a class="ajax-link" href="#"><i class="icon-inbox"></i><span class="hidden-tablet"> 数据管理</span></a></li>	
					</ul>
					<!--<label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>-->
				</div><!--/.well -->
			</div><!--/span-->
			<!-- left menu ends -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			<div id="content" class="span10">
			<!-- content starts -->
		 {{.LayoutContent}}
		 	<!-- content ends -->
			</div><!--/#content.span10-->		
		<hr>
		<footer>
			<!-- <p class="pull-left">&copy; <a href="http://usman.it" target="_blank">Muhammad Usman</a> 2012</p>
			<p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p> -->
		</footer>
		
	</div><!--/.fluid-container-->

	<!-- external javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
